button, section, input {
  margin-left: auto;
  margin-right: auto; }

html {
  font-size: 62.5%; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.9rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.3rem; }

a {
  color: #f5a525; }
  a:hover {
    color: #fff; }

p {
  font-size: 1.6rem; }

button {
  background-color: #f5a525;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  button:hover {
    cursor: pointer; }

article {
  background-color: #fff;
  width: calc 33.33333%;
  position: relative; }
  article::after {
    content: ' ';
    white-space: pre;
    position: absolute;
    background-color: #292929; }

input {
  background-color: #d6d6d6;
  color: #b8b8b8; }
