/* CSS RESET
==================================================================================================== 
====================================================================================================
*/
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 - Older browser support
====================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* FOCUS
====================================================================== */
:focus {
  outline: none; }

button, input {
  margin-left: auto;
  margin-right: auto; }

html {
  font-size: 62.5%; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.9rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.3rem; }

a {
  color: #01d277; }
  a:hover {
    color: #fff; }

.wrapper, #main {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto; }

p {
  font-size: 1.6rem; }

button {
  background-color: #fff;
  color: #01d277;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0.5rem 2rem 0.5rem 2rem; }
  button:hover {
    cursor: pointer; }

input {
  background-color: #4d4d4d;
  color: #666; }

header {
  background: url("/images/header.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 25rem; }

header p {
  display: inline-block;
  text-align: center;
  color: #01d277;
  margin-top: 7rem;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  background-color: #000;
  margin-left: 39%;
  padding: 0.5rem; }

header form {
  text-align: center; }

#search {
  height: 3rem;
  width: 35%;
  border: 1px solid #4d4d4d;
  font-size: 1.6rem;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 1rem;
  padding-right: 1rem; }

#search:focus {
  border: 1px solid #01d277; }

header button {
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  vertical-align: middle;
  margin-bottom: 0.62rem;
  font-size: 1.4rem;
  margin-left: 1rem;
  color: #666;
  text-transform: uppercase;
  font-weight: bold; }

header button:hover {
  color: #01d277; }

nav {
  background: rgba(17, 17, 17, 0.5); }

nav h1 {
  color: #01d277;
  padding-top: 0.5rem;
  margin-left: 2rem; }

nav h1::before {
  content: "";
  background: url("/images/movie_icon.png") no-repeat;
  float: left;
  background-size: contain;
  padding: 1.35rem;
  margin-right: 1rem; }

nav h1 a:hover {
  color: #01d277; }

nav li a {
  color: #01d277;
  display: block;
  font-size: 2.4rem; }

nav li {
  display: inline-block;
  padding: 0 1.5rem; }

nav li a[href="index.html"] {
  color: #fff; }

nav ul {
  position: absolute;
  right: 14rem;
  top: 1.1rem; }

#main h2 {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 2rem 0.5rem 1rem;
  margin: 2rem 0 2rem 7.5rem; }

#results {
  width: 100%;
  margin-left: 3.5rem; }

#results::after {
  content: "";
  display: block;
  clear: both; }

#results article {
  float: left;
  position: relative;
  margin: 2rem 4rem 2rem 4rem;
  background-color: #000; }

article h3 {
  max-width: 30rem;
  color: #01d277; }

article p {
  color: #666; }

footer {
  background-color: #000;
  padding: 2.5rem 0 2.5rem 0; }

footer h3 {
  color: #01d277;
  text-align: center;
  font-weight: bold; }
