/* CSS RESET
==================================================================================================== 
====================================================================================================
*/
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 - Older browser support
====================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* FOCUS
====================================================================== */
:focus {
  outline: none; }

/*COLORS*/
/*FONTS*/
.wrapper, #main, button, input {
  margin-left: auto;
  margin-right: auto; }

html {
  font-size: 62.5%; }

body {
  height: 100%; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.9rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.3rem; }

a {
  color: #01d277; }
  a:hover {
    color: #fff; }

.wrapper, #main {
  max-width: 120rem; }

#wrapper {
  min-height: 100%; }

p {
  font-size: 1.6rem; }

button {
  background-color: #fff;
  color: #01d277;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0.5rem 2rem 0.5rem 2rem; }
  button:hover {
    cursor: pointer; }

input {
  background-color: #4d4d4d;
  color: #666; }

.hide {
  display: none; }

header {
  background: url("../images/header.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 25rem; }

header p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #01d277;
  margin-top: 7rem;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  padding: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-shadow: 1px 1px 4px #000, -1px -1px 4px #000; }

header form {
  text-align: center; }

#search {
  height: 3rem;
  width: 35%;
  border: 1px solid #4d4d4d;
  font-size: 1.6rem;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 1rem;
  padding-right: 1rem; }
  #search:focus {
    border: 1px solid #01d277; }

header button {
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  vertical-align: middle;
  margin-bottom: 0.62rem;
  font-size: 1.4rem;
  margin-left: 1rem;
  color: #666;
  text-transform: uppercase;
  font-weight: bold; }
  header button:hover {
    color: #01d277; }

nav {
  background: rgba(17, 17, 17, 0.5);
  height: 4.5rem; }

nav h1 {
  color: #01d277;
  padding-top: 0.5rem;
  margin-left: 2rem;
  float: left; }
  nav h1::before {
    content: "";
    background: url("../images/movie_icon.png") no-repeat;
    background-size: contain;
    padding: 0 1.35rem 0 1.35rem;
    margin: 0 1rem 0 0;
    vertical-align: middle; }

nav li a {
  color: #01d277;
  font-size: 2.4rem; }
  nav li a:hover {
    color: #fff; }

nav li {
  padding: 0 1.5rem;
  -ms-flex-item-align: center;
      align-self: center; }

nav li a[href="index.html"] {
  color: #fff; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 4.5rem; }

#main {
  padding-bottom: 7rem; }

#main h2 {
  color: #fff;
  background-color: #000;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 2rem 0 2rem 10.5rem;
  text-transform: capitalize;
  display: inline-block; }

#results {
  width: calc(100% - 3.5rem);
  margin-left: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#results article {
  margin: 4rem;
  background-color: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

article h3 {
  max-width: 30rem;
  color: #01d277;
  text-align: center; }

article h3 {
  padding: 1rem; }

article p {
  padding: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

article p:not(.rating) {
  color: #666;
  vertical-align: middle;
  margin: 0 0 0 3rem; }

.rating {
  color: #fac919;
  vertical-align: middle; }
  .rating::before {
    content: "";
    background: url("../images/star.png") no-repeat;
    background-size: contain;
    padding: 0 0.7rem 0 0.7rem;
    margin-right: 0.5rem;
    vertical-align: middle; }

#results + p {
  text-align: center;
  margin: 5rem 0 5rem 0; }
  #results + p a {
    background-color: #01d277;
    color: #000;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem; }
    #results + p a:hover {
      color: #fff; }

#main .error {
  color: #b52c2c;
  text-align: center;
  display: block;
  background-color: transparent;
  margin: 1rem;
  font-weight: bold; }

footer {
  background-color: #000;
  padding: 2.5rem 0 2.5rem 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 7rem; }

footer h3 {
  color: #01d277;
  text-align: center;
  font-weight: bold; }
