@mixin brs($topLeft, $topRight, $bottomLeft, $bottomRight) {
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
    border-bottom-left-radius: $bottomLeft;
    border-bottom-right-radius: $bottomRight;
}

@mixin clr() {
    content: "";
    display: block;
    clear: both;
}

@mixin mq($size) {
    
    @if $size == small {
        @media (max-width: 819px) { @content; }
    }
    @else if $size == medium {
        @media (max-width: 1199px) { @content; }
    }
    @else if $size == large {
        @media (min-width: 800px) { @content; }
    }
}