/*COLORS*/
$neutral-color: #fff;
$text-color: #666;
$negative-color: #000;
$primary-color: #01d277;
$middle-color: #4d4d4d;
$rating-color: #fac919;

/*FONTS*/
$font-stack: "Heltetiva Neue", Helvetica, Arial, sans-serif;
$h1-size: 3.2rem;
$h2-size: 2.4rem;
$h3-size: 1.9rem;
$h4-size: 1.6rem;
$h5-size: 1.4rem;
$h6-size: 1.3rem;