$neutral-color: #fff;
$middle-color: #d6d6d6;
$negative-color: #292929;
$primary-color: #f5a525;
$placeholder-color: #b8b8b8;
$font-stack: "Heltetiva Neue", Helvetica, Arial, sans-serif;
$h1-size: 3.2rem;
$h2-size: 2.4rem;
$h3-size: 1.9rem;
$h4-size: 1.6rem;
$h5-size: 1.4rem;
$h6-size: 1.3rem;
$paragraph-size: rem;