#main h2 {
    background-color: $negative-color;
    color: $neutral-color;
    display: inline-block;
    padding: 0.5rem 2rem 0.5rem 1rem;
    margin: 2rem 0 2rem 7.5rem;
}

#results {
    width: 100%;
    margin-left: 3.5rem;
}

#results::after {
    content: "";
    display: block;
    clear: both;
}

#results article {
    float: left;
    position: relative;
    margin: 2rem 4rem 2rem 4rem;
    background-color: $negative-color;
}

article h3 {
    max-width: 30rem;
    color: $primary-color;
}

article p {
    color: $text-color;
}