#main {
    padding-bottom: 7rem;
}

#main h2 {
    color: $neutral-color;
    background-color: $negative-color;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 2rem 0 2rem 10.5rem;
    text-transform: capitalize;
    display: inline-block;
}

#results {
    width: calc(100% - 3.5rem);
    margin-left: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#results article {
    margin: 4rem;
    background-color: $negative-color;
    flex-direction: column;
}

article h3 {
    max-width: 30rem;
    color: $primary-color;
    text-align: center;
}

article h3 {
    padding: 1rem;
}

article p {
    padding: 1rem;
    display: inline-flex;
}

article p:not(.rating) {
    color: $text-color;
    vertical-align: middle;
    margin: 0 0 0 3rem;
}

.rating {
    color: $rating-color;
    vertical-align: middle;
    
    &::before {
        content: "";
        background: url("../images/star.png") no-repeat;
        background-size: contain;
        padding: 0 0.7rem 0 0.7rem;
        margin-right: 0.5rem;
        vertical-align: middle;
    }
}

#results + p {
    text-align: center;
    margin: 5rem 0 5rem 0;
    
    
    & a {
        background-color: $primary-color;
        color: $negative-color;
        font-weight: bold;
        padding: 1rem 2rem 1rem 2rem;
        @include brs(4rem, 4rem, 4rem, 4rem);
        
        &:hover {
            color: $neutral-color;
        }
    }
}

#main .error {
    color: $error-color;
    text-align: center;
    display: block;
    background-color: transparent;
    margin: 1rem;
    font-weight: bold;
}
