header {
    background: url('../images/header.jpg') no-repeat;
    background-size: cover;
    background-position:bottom;
    height: 25rem;
}

header p {
    display: flex;
    color: $primary-color;
    margin-top: 7rem;
    margin-bottom: 2rem;
    font-size: $h3-size;
    padding: 0.5rem;
    justify-content: center;
    font-weight: bold;
    text-shadow: 1px 1px 4px $negative-color, -1px -1px 4px $negative-color;
}

header form {
    text-align: center;
}

#search {
    height: 3rem;
    width: 35%;
    border: 1px solid $middle-color;
    font-size: $h4-size;
    color: $neutral-color;
    @include brs(4px, 4px, 4px, 4px);
    padding-left: 1rem;
    padding-right: 1rem;
    
    &:focus {
        border: 1px solid $primary-color;
    }
}

header button {
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    vertical-align: middle;
    margin-bottom: 0.62rem;
    font-size: $h5-size;
    margin-left: 1rem;
    color: $text-color;
    text-transform: uppercase;
    font-weight: bold;
    
    &:hover {
        color: $primary-color;
    }
}