nav {
    background: rgba(17, 17, 17, 0.5);
    position: relative;
}

nav h1 {
    color: $primary-color;
    padding-top: 0.5rem;
    margin-left: 2rem;
    
    &::before {
        content: "";
        //background: url("/images/movie_icon.png") no-repeat; //This is to show image locally
        background: url("../images/movie_icon.png") no-repeat; //This is to show image on Git Pages
        float: left;
        background-size: contain;
        padding: 1.35rem;
        margin-right: 1rem;
    }
}

nav li a {
    color: $primary-color;
    display: block;
    font-size: $h2-size;
    
    &:hover {
        color: $neutral-color;
    }
}

nav li {
    display: inline-block;
    padding: 0 1.5rem;
}

nav li a[href="index.html"] {
    color: $neutral-color;
}

nav ul {
    position: absolute;
    right: 0;
    top: 1rem;
}