nav {
    background: rgba(17, 17, 17, 0.5);
    height: 4.5rem;
}

nav h1 {
    color: $primary-color;
    padding-top: 0.5rem;
    margin-left: 2rem;
    float: left;
    
    &::before {
        content: "";
        background: url("../images/movie_icon.png") no-repeat;
        background-size: contain;
        padding: 0 1.35rem 0 1.35rem;
        margin: 0 1rem 0 0;
        vertical-align: middle;
    }
}

nav li a {
    color: $primary-color;
    font-size: $h2-size;
    
    &:hover {
        color: $neutral-color;
    }
}

nav li {
    padding: 0 1.5rem;
    align-self: center;
}

nav li a[href="index.html"] {
    color: $neutral-color;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    height: 4.5rem;
}