//----------Base Styles----------//

html {
    font-size: 62.5%;
}

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

h4 {
    font-size: $h4-size;
}

h5 {
    font-size: $h5-size;
}

h6 {
    font-size: $h6-size;
}

a {
    color: $primary-color;
    
    &:hover {
        color: $neutral-color;
    }
}

.wrapper, #main {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: $h4-size;
}

button {
    background-color: $neutral-color;
    color: $primary-color;
    @include brs(4px, 4px, 4px, 4px);
    @extend %center-element;
    padding: 0.5rem 2rem 0.5rem 2rem;
    &:hover {
        cursor: pointer;
    }
}

input {
    @extend %center-element;
    background-color: $middle-color;
    color: $text-color;
}